/**
 * @author:wkylin [wkylin@github.com]
 * @name: im-wtalk
 * @overview:
 * @require: null
 */
/* 清理浮动 */
.fn-clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.fn-clear {
    zoom: 1; /* for IE6 IE7 */
}

/* grunt box */

.grunt-box {
    width: 400px;
    height: 30px;
    line-height: 30px;
    margin: 50px auto;
    cursor: pointer;
    text-align: center;
}

.text-color{
    color:#fff;
    background-color:#001100;
    /*color:#fff;
    background-color:#008c96;*/
}

